<div class="wrapper">
    <div id="container">
        <div class="logo"><img src="http://i68.tinypic.com/2nt8cap.jpg" alt="" /></div>
        <div class="content-container">
            <label for="userName">
                Username
                <input class="form-control" type="text" id="userName" />
            </label>
            <label for="password">
                Password
                <input class="form-control" type="text" id="password" />
            </label>
            <div class="footer-area">
                <span>
    <input type="checkbox" /> Remeber Me
        </span>
                <a href="#dashboard">
                    <button class="btn btn-primary">Log In</button>
                </a>
            </div>
            <p class="end-text"><a href="#">Register</a> | <a href="#">Lost your password?</a></p>
        </div>

    </div>
</div>